html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



#wrapper {
	margin: 0 auto;
	width: 800px;
}

#box {
	position: relative;
	margin-bottom: 100px;
	margin-top: 30px;
}

#slider {
	border:1px solid #666666;
	width: 200px;
	height: 200px;
}

#slider ul li{
	display: block;
	border:2px solid #666666;
	background-color: #CCCCCC;
	height: 200px;
	width: 400px;
}

ul li img{
	height: 200px;
	width: 400px;
}


#buttons span{
	display: block;
	float: left;
	margin: 0 5px;
	cursor: pointer;
	background-image: url('img/point.png');
	height: 24px;
	width: 24px;
}

#buttons .active{
	background-position: 0 -48px;
}

#buttons span:HOVER{
	background-position: 0 -24px;
}

.prev, .next {
	display: block;
	position: absolute;
	left: 0px;
	bottom: -80px;
	color: #666666;
	background-image: url('img/arrow.png');
	height: 50px;
	width: 50px;
	background-position: 0 -100px;
}

.next {
	left: 100px;
	background-position: 0 -150px;
}

.next.active{
	background-position: 0 -50px;
	cursor: pointer;
}

.prev.active{
	background-position: 0 0px;
	cursor: pointer;
}

#controls .active, #controls span:HOVER{
	color: #0066FF;
}


#slider2 {
	border:1px solid #666666;
	width: 200px;
	height: 200px;
}

#slider2 ul li{
	display: block;
	border:2px solid #666666;
	background-color: #CCCCCC;
	height: 200px;
	width: 400px;
}
